// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.
// For more help, browse the DeviceTree documentation at https: //docs.zephyrproject.org/latest/guides/dts/index.html
/ {
    model = "saido isp1507";
    compatible = "nordic,nrf52-dk-nrf52832";

    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
        zephyr,uart-mcumgr = &uart0;
        zephyr,bt-mon-uart = &uart0;
        zephyr,bt-c2h-uart = &uart0;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
            label = "on board led";
        };
        led1: led_1 {
            status = "disabled";
        };
        led2: led_2 {
            status = "disabled";
        };
        led3: led_3 {
            status = "disabled";
        };
    };

    pwmleds {
        compatible = "pwm-leds";
        pwm_led0: pwm_led_0 {
            pwms = <&pwm0 11>;
        };
    };

    buttons {
        status = "disabled";
    };

    arduino_header: connector {
        status = "disabled";
    };

    arduino_adc: analog-connector {
        status = "disabled";
    };

    /* These aliases are provided for compatibility with samples */
    aliases {
        led0 = &led0;
        led1 = &led1;
        led2 = &led2;
        led3 = &led3;
        pwm-led0 = &pwm_led0;
        sw0 = &button0;
        sw1 = &button1;
        sw2 = &button2;
        sw3 = &button3;
        bootloader-led0 = &led0;
    };
};

&adc {
    status = "disabled";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

arduino_serial: &uart0 {
    status = "disabled";
};

arduino_i2c: &i2c0 {
    compatible = "nordic,nrf-twi";
    status = "okay";
    sda-pin = <29>;
    scl-pin = <28>;
};

&i2c1 {
    compatible = "nordic,nrf-twi";
    /* Cannot be used together with spi1. */
    status = "disabled";
};

&pwm0 {
    status = "okay";
    ch0-pin = <17>;
    ch0-inverted;
};

&spi0 {
    compatible = "nordic,nrf-spi";
    /* Cannot be used together with i2c0. */
    status = "disabled";
};

&spi1 {
    compatible = "nordic,nrf-spi";
    status = "disabled";
};

arduino_spi: &spi2 {
    compatible = "nordic,nrf-spi";
    status = "disabled";
};

&flash0 {

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0xc000>;
        };
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0x0000C000 0x32000>;
        };
        slot1_partition: partition@3e000 {
            label = "image-1";
            reg = <0x0003E000 0x32000>;
        };
        scratch_partition: partition@70000 {
            label = "image-scratch";
            reg = <0x00070000 0xa000>;
        };
        storage_partition: partition@7a000 {
            label = "storage";
            reg = <0x0007a000 0x00006000>;
        };
    };
};
